Source: stsbl-iserv-host-config
Section: misc
Priority: optional
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-iserv,
 dh-sequence-stsbl,
Standards-Version: 4.5.1
Homepage: https://it.stsbl.de/

Package: stsbl-iserv-host-config
Architecture: all
Depends: ${misc:Depends},
  ${perl:Depends},
  iserv-portal,
Description: Geräte-Konfiguration für IServ (EXPERIMENTELL)
 Erlaubt das Erstellen von beliebigen Konfigurationsvariablen, die mit Geräten
 in der Geräteverwaltung verküpft werden.
Tag: suite::iserv, suite::iserv:portal, role::plugin, status::highlighted, status::experimental
